/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --bg-gray: #f8f9fa;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
/*p,
.tmpl-post li,
img {
  max-width: 37.5em; /* 600px /16 */
/*}*/
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 0;
  background-color: var(--bg-gray);
}

header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

.active-btn {
  color: var(--navy);
  background-color: yellow;
  border-color: red;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 1rem 1rem 1rem 0;
  float: left;
  font-size: 1em; /* 16px /16 */
  margin: 0 !important;
  max-width: 150px;
}
.home :link {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin: 0;
  font-weight: 600;
  font-size: 1.3rem;
}
.nav-item {
  display: inline-block;
}
#navbarMenuLink {
  margin-left: -0.6rem;
  padding: 0.5rem 0.9rem 0 0 !important;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}
.nav-link {
  padding: .5rem .9rem !important;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6875em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

section button {
  display: flex;
  justify-content: center;
  min-width: 15ch;
  border: none;
}

#savebutton, #readbutton, #resultsbutton, #previousbutton, #nextbutton, #openallbutton {
  font-size: 1.25rem !important;
}

div.tab-pane > article {
  display: block;
  border: lightgray 1px solid;
  margin-top: -7px;
  border-radius: 4px;
  padding: 50px;
  background-color: hsla(219, 48%, 69%, 1.0);
}

div.tab-pane > article > h2 {
  color: hsla(290, 49%, 27%, 1.0) !important;
  margin-bottom: 50px;
  font-weight: 900;
}

div.tab-pane > article > h4 {
  margin-bottom: 25px;
}

div.tab-pane > article > div > div > .col {
  margin: 25px;
}

.progress-bar-purple {
  background-color: purple !important;
}

/* Sidebar and body */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.2;
}

.col-md-9 > .accordion-collapse {
  padding: 0 !important;
}

.col-md-9 > .accordion-collapse > .accordion-body {
  padding: 0 !important;
}

.sidebar{
  overflow: hidden;
  width: 16rem;
  margin-left: -6rem;
  transition: all 0.4s;
  text-align: center;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  z-index: 2;
  color: #6c757d !important;
}

.sidebar.show {
  margin-left: 0;
}

.sidebar-heading {
  padding-right: .5rem;
  padding-left: .5rem;
  text-align: center;
  margin-bottom: 0;
  padding: 1.5rem;
  color: #adb5bd;
  font-size: .7875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled li a {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  width: 100%;
}

.list-unstyled li a:focus {
  font-weight: 500;
  background-color: var(--lightgray);
}

.list-unstyled li a:hover {
  font-weight: 500;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar ul li ul {
  padding-left: 0 !important;
}

.sidebar button {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
  font-size: 1rem;
  color: inherit;
}

.page-body {
  overflow-x: hidden;
  min-height: calc(100vh - 72px);
  padding-top: 3rem;
}

.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
}

.card canvas {
  margin: 1.25rem 0;
}

.card-header {
  position: relative;
  padding: 2rem 2rem;
  border-bottom: none;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
  z-index: 2;
  margin-bottom: 0;
}

.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

.card-heading {
  margin-bottom: 0;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.card-description {
  max-width: 45ch;
  margin: 0;
  padding: 1rem 1.25rem;
}

.page-header {
  margin-bottom: 3rem;
}

.text-center {
  margin-bottom: 1.5rem;
}

/* Sidebar and body END */

/* Accorion fix */
.accordion-collapse > .accordion-body .row {
  margin-top: 0.75rem;
}

.accordion-item > .accordion-collapse > .accordion-body {
  padding: 0 !important;
  margin: 1.25rem;
}

.accordion-button {
  font-size: 1.1rem;
}
/* Accorion fix END */

/* Question input fix */
.form-check .form-check-input {
  margin: .25em .5em .25em 0;
}
.form-check {
  padding-left: 0.75em !important;
}

/* Tablet and mobile gap between sidebar and body */
@media (max-width: 768px) {
  /* Navmenu */
  .navbar-collapse {
    margin-left: 0 !important;
  }

  /* Tablet and mobile gap between sidebar and body */
  div.col-md-9 {
    padding-top: 0.5em !important;
  }

  /* Tabs */
  button.nav-link {
    width: 100%;
    /* background-color: #fcfcfc !important; */
    border-color: #dee2e6 !important;
  }

  button.nav-link:not(.active) {
    border-color: #dee2e6 #dee2e6 #fff;
  }
  button.nav-link.active {
    font-weight: 600;
  }
  /* make buttons to wrap text on tablets and samller */
  section button {
    min-width: min-content;
  }
  #savebutton, #readbutton, #resultsbutton, #previousbutton, #nextbutton, #openallbutton {
    font-size: 1rem !important;
  }

  /* Tablet and mobile gap between tabs and sidebar */
  .row:nth-of-type(2) {
    margin-top: 0.5em;
  }

}
