---
layout: layouts/base.njk
permalink: /questionnaire/
templateClass: tmpl-post
eleventyNavigation:
  key: Questionnaire
  order: 2
---

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
{% for sense in questions %}
    <button 
        class="nav-link {% if loop.first %}active{% endif %}" 
        id="nav-{{ sense.sense | lower }}-tab" 
        data-bs-toggle="tab" 
        data-bs-target="#nav-{{ sense.sense | lower }}" 
        type="button" 
        role="tab" 
        aria-controls="nav-{{ sense.sense | lower }}" 
        aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
          {{ sense.sense }}
    </button>
{% endfor %}
  </div>
</nav>

<div class="tab-content" id="nav-tabContent" style="margin-top: 42px;">
{% for sense in questions %}
  <div class="tab-pane fade" 
    id="nav-{{ sense.sense | lower }}" 
    role="tabpanel" 
    aria-labelledby="nav-{{ sense.sense | lower }}-tab">
    <div class="accordion row" id="accordionExample-{{ sense.sense | lower }}">
      {% set outerLoop = loop %}
      {# items in sidebar #}
      <div class="col-sm-3">
        {% for meta in sense.metacategories %}
          <div class="accordion-item ">
            <h2 class="accordion-header" id="heading-{{ sense.sense }}-{{ loop.index }}">
              <button class="accordion-button collapsed" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapse-{{ sense.sense | lower }}-{{ loop.index }}" 
                aria-expanded="false" 
                aria-controls="collapse-{{ sense.sense | lower }}-{{ loop.index }}">
                {{ meta.name }}
              </button>
            </h2>
          </div>
        {% endfor %}
      </div>
      {# END items in sidebar #}

      {# this is the body inside accordion #}
      <div class="col-sm-9">
        {% for meta in sense.metacategories %}
        {# <p style="margin-left: 10px;">Meta name: {{ meta.name | lower }}</p> #}
        <div id="collapse-{{ sense.sense | lower }}-{{ loop.index }}" 
            class="accordion-collapse collapse col-sm-9" 
            aria-labelledby="bodyAccorcionHeading" 
            data-bs-parent="#accordionExample-{{ sense.sense | lower }}">
          {# accordion wrapper for categories #}
          <div class="accordion-body">
            <div class="accordion" id="accordionExample">
              {% for item in meta.categories %}
              <p style="margin-left: 20px;">Cat: {{ item.category | lower }}</p>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-{{ sense. sense }}-{{ loop.index }}-{{ item.index }}">
                    <button class="accordion-button" 
                      type="button" 
                      data-bs-toggle="collapse" 
                      data-bs-target="#body-{{ sense. sense }}-{{ loop.index }}-{{ item.index }}" 
                      aria-expanded="true" 
                      aria-controls="body-{{ sense. sense }}-{{ loop.index }}-{{ item.index }}">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="body-{{ sense. sense }}-{{ loop.index }}-{{ item.index }}" 
                    class="accordion-collapse collapse show" 
                    aria-labelledby="headingOne" 
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong>
                      {% for question in item.questions %}
                      <p style="margin-left: 30px;">Q: {{ question }}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {# END this is the body inside accordion #}
    </div>
  </div>
{% endfor %}
</div>

{# {% for sense in questions %}
  {% for meta in sense.metacategories %}
  <p style="margin-left: 50px;">Meta name: {{ meta.name | lower }}</p>
    {% for item in meta.categories %}
    <p style="margin-left: 100px;">Cat: {{ item.category | lower }}</p>
      {% for question in item.questions %}
      <p style="margin-left: 150px;">Q: {{ question }}</p>
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %} #}

{# <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#collapseOne" 
        aria-expanded="true" 
        aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#collapseTwo" 
      aria-expanded="false" 
      aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div> #}