---
layout: layouts/base.njk
permalink: /questionnaire/
templateClass: tmpl-post
eleventyNavigation:
  key: Questionnaire
  order: 4
---
{% set struct = {"top": "sense", "side": "metacategory", "body": "category"} %}
{% set data = questions %}

{% include "questioninterface.njk" %}

