---
layout: layouts/base.njk
permalink: /survey/
eleventyNavigation:
  key: Survey
  order: 3
---

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link active" 
      id="home-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#home" 
      type="button" 
      role="tab" 
      aria-controls="home" 
      aria-selected="true">Vision</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
      class="nav-link" 
      id="profile-tab" 
      data-bs-toggle="tab" 
      data-bs-target="#profile" 
      type="button" 
      role="tab" 
      aria-controls="profile" 
      aria-selected="false">Hearing</button>
  </li>
  <li class="nav-item" role="presentation">
    <button 
    class="nav-link" 
    id="contact-tab" 
    data-bs-toggle="tab" 
    data-bs-target="#contact" 
    type="button" 
    role="tab" 
    aria-controls="contact" 
    aria-selected="false">Taste</button>
  </li>
</ul>
<div class="tab-content mt-5" id="myTabContent">
  <div class="tab-pane fade show active" 
    id="home" 
    role="tabpanel" 
    aria-labelledby="home-tab">
    <article>
      <h2>Sensory Processing Checklist</h2>
      <h4>1. Lorem ipsum dolor sit amet consectetur, adipisicing elit?</h4>
      <div class="container">
        <div class="row">
          <div class="col form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Was true</label>
          </div>
          <div class="col form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">True</label>
          </div>
        </div>
        <div class="row">
          <div class="col form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">False</label>
          </div>
          <div class="col form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4" checked>
            <label class="form-check-label" for="inlineRadio4">Not sure</label>
          </div>
        </div>
      </div>
    </article>
    </div>
  <div class="tab-pane fade" 
    id="profile" 
    role="tabpanel" 
    aria-labelledby="profile-tab">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Voluptatum assumenda soluta nulla animi nesciunt numquam 
    doloremque quo id ratione repellat fugit aspernatur, cumque et illum. 
    Nesciunt odio delectus nam aperiam praesentium veniam modi. 
    Voluptas dolores perspiciatis, hic veniam quidem molestias vitae debitis voluptatibus. 
    Perspiciatis, necessitatibus tenetur? Commodi sed repellendus porro! 
    Dolorum iure, distinctio, minima est voluptatum totam nesciunt autem dolores aliquid, 
    fugit libero facere quisquam veritatis quia error! Id incidunt natus autem quod modi! 
    Fuga dignissimos harum natus ipsum velit sit inventore 
    voluptatum mollitia eum provident dolorem aliquid, 
    iusto officia dolores porro suscipit aliquam repellendus accusamus placeat expedita. 
    Animi voluptatum quibusdam dicta labore nemo nulla, 
    cumque numquam molestias hic doloribus recusandae sed odit earum amet eligendi quas. 
    Laudantium perferendis labore ratione autem a corrupti possimus nesciunt facere minima tenetur! 
    Officia nobis aliquam vitae repudiandae alias perspiciatis nisi voluptatem facere qui nemo. 
    In accusamus rerum doloribus, distinctio ullam a minima dolores.
  </div>
  <div class="tab-pane fade" 
    id="contact" 
    role="tabpanel" 
    aria-labelledby="contact-tab">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    Voluptatum assumenda soluta nulla animi nesciunt numquam 
    doloremque quo id ratione repellat fugit aspernatur, cumque et illum. 
    Nesciunt odio delectus nam aperiam praesentium veniam modi. 
    Voluptas dolores perspiciatis, hic veniam quidem molestias vitae debitis voluptatibus. 
    Perspiciatis, necessitatibus tenetur? Commodi sed repellendus porro! 
    Dolorum iure, distinctio, minima est voluptatum totam nesciunt autem dolores aliquid, 
    fugit libero facere quisquam veritatis quia error! Id incidunt natus autem quod modi! 
    Fuga dignissimos harum natus ipsum velit sit inventore 
    voluptatum mollitia eum provident dolorem aliquid, 
    iusto officia dolores porro suscipit aliquam repellendus accusamus placeat expedita. 
    Animi voluptatum quibusdam dicta labore nemo nulla, 
    cumque numquam molestias hic doloribus recusandae sed odit earum amet eligendi quas. 
    Laudantium perferendis labore ratione autem a corrupti possimus nesciunt facere minima tenetur! 
    Officia nobis aliquam vitae repudiandae alias perspiciatis nisi voluptatem facere qui nemo. 
    In accusamus rerum doloribus, distinctio ullam a minima dolores.
  </div>
</div>
<div class="w-100">
  <div class="progress w-75 position-relative top-0 start-50 translate-middle-x">
    <div class="progress-bar w-75 progress-bar-striped progress-bar-purple" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
