---
layout: layouts/base.njk
title: Add Senses
eleventyNavigation:
  key: Add Senses
  parent: Utilities
  order: 1
---
{#=================================    LAYOUT   ==================================#}
{#================================================================================#}
<section class="container-xl p-4">
    <h1 class="text-center pb-2"> Add and Edit Questions</h1>

    <!-- Text box to enter the name of the new sense -->
    <div class="d-inline-flex">
        <label class="fs-3" for="choosesense">
            Name of Sense to Edit:
        </label>
        <select id="choosesense" class="fs-3 ps-2 ms-1">
            {% for sense in questions %}
                <option value="{{ sense.sense }}">
                    {{ sense.sense }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="d-inline-flex mt-3">
        <label class="fs-3" for="addsenseinput">
            Name of Sense to Add: 
        </label>
        <input type="text" id="addsenseinput" rows=12 class="w-auto fs-3 ms-2">
        <button class="p-2 ms-5 bg-info rounded" id="savebutton" type="button">Add Sense</button>
    </div>
</section>

<!-- Context menu ---------------------------------------------------------------------------- -->
{# context menu #}
<section class="container-xl card mb-2">
    <nav class="d-flex justify-content-around py-4">
        <button class="p-2 bg-info rounded" id="savebutton" type="button">Save JSON File</button>
        {# button to save question answers #}
        <button class="p-2 bg-info rounded" id="readbutton" type="button">Read JSON File</button>
        {# button to show results #}
        <button class="p-2 bg-info rounded" id="resultsbutton" type="button">View JSON</button>
    </nav>
</section>

{# wrap everything into a card class #}
<div class='container-xl card py-2 mb-4'>
    
<!-- Progress bar ---------------------------------------------------------------------------- -->
{# create progress bar #}
<section class="container-xl py-3 px-4" id="progress-grid">
    <div class="row bg-white">
        {% for metacat in meta %}
            {% for category in metacat.categories %}
                {% set catindex = category.index %}
        
                <div class="col p-0 progress-column" style="border: 2px solid LightGray" 
                            catindex="{{ catindex - 1 }}">
                    {% for sense in category.senses %}
                    <div class="progress-item" 
                        style="width: auto; height:20px; border: 1px solid; border-color: LightGray;"
                        senseindex="{{ loop.index - 1 }}">
                    </div>
                    {% endfor %}
                </div>

            {% endfor %}
        {% endfor %}
    </div>
</section>

{# Create Category name placeholder #}
<h2 class="p-3" id="category-name"> 
    {{ categorysummary[0].name }} for {{ questions[0].sense}}
</h2>

<section class="container-xl py-3 px-4" id="input-section">
    <!-- Text area to input the questions -->
    <label for="question-textarea">
        Add or edit questions for category here
    </label>
    <textarea id="questions-textarea" rows=12 class="w-100"></textarea>

    {# next and previous buttons #}
    <div>
        <nav class="d-flex justify-content-between py-2"> {#  category nav buttons #}
            <button class="p-2 bg-info rounded" id="previous-category-button" type="button" nextevent="previous">Previous Category</button>
            <button class="p-2 bg-info rounded" id="next-category-button" type="button" nextevent="next">Next Category</button>
        </nav>
        <nav class="d-flex justify-content-between py-3 pt-0"> {# sense nav buttons#}
            <button class="p-2 bg-info rounded" id="previous-sense-button" type="button" nextevent="previous">Previous Sense</button>
            <button class="p-2 bg-info rounded" id="next-sense-button" type="button" nextevent="next">Next Sense</button>
            </div>
        </nav>
    </div>
</section>
</div> {# end card #}

<section class="container-xl py-3 px-4" id="view-area">
    <p>view of json goes here</p>
</section>

{#===============================   END LAYOUT   ==================================#}
{#================================================================================#}


{#============================== START DATA CONTAINERS ==============================#}
{#================================================================================#}
