---
layout: layouts/base.njk
title: Add Senses
eleventyNavigation:
  key: Add Senses
  parent: Utilities
  order: 1
---
{#=================================    LAYOUT   ==================================#}
{#================================================================================#}
<section class="container-xl p-4">
    <h1 class="text-center pb-2"> Add and Edit Questions</h1>

    <!-- Text box to enter the name of the new sense -->
    <div class="d-inline-flex">
        <label class="fs-3" for="choosesense">
            Name of Sense to Edit:
        </label>
        <select id="choosesense" class="fs-3 p-1 ps-2 ms-1">
            {% for sense in categoryquestions[0].senses %}
                <option value="{{ loop.index}}">
                    {{ sense.sense }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="d-inline-flex mt-3">
        <label class="fs-3" for="addsenseinput">
            Name of Sense to Add: 
        </label>
        <input type="text" id="addsenseinput" rows=12 class="w-auto fs-3 ms-2">
        <button class="p-2 ms-5 bg-info rounded" id="savebutton" type="button">Add Sense</button>
    </div>
</section>

<!-- Context menu ---------------------------------------------------------------------------- -->
{# context menu #}
<section class="container-xl card mb-2">
    <nav class="d-flex justify-content-around py-4">
        <button class="p-2 bg-info rounded" id="savebutton" type="button">Save JSON File</button>
        {# button to save question answers #}
        <button class="p-2 bg-info rounded" id="readbutton" type="button">Read JSON File</button>
        {# button to show results #}
        <button class="p-2 bg-info rounded" id="resultsbutton" type="button">View JSON</button>
    </nav>
</section>

{# wrap everything into a card class #}
<div class='container-xl card py-2 mb-4'>
    
<!-- Progress bar ---------------------------------------------------------------------------- -->
{# create progress bar #}
<section class="container-xl py-3 px-4" id="progress-grid">
    <div class="row bg-white">
        {% for metacat in meta %}
            {% for category in metacat.categories %}
                {% set catindex = category.index %}
        
                <div class="col p-0 progress-column" style="border: 2px solid LightGray" 
                            catindex="{{ catindex - 1 }}">
                    {% for sense in category.senses %}
                    <div class="progress-item" 
                        style="width: auto; height:20px; border: 1px solid; border-color: LightGray;"
                        senseindex="{{ loop.index - 1 }}">
                    </div>
                    {% endfor %}
                </div>

            {% endfor %}
        {% endfor %}
    </div>
</section>

{# Create Category name placeholder #}
<h2 class="p-3" id="category-name"> 
    {{ categoryquestions[0].category }} for {{ questions[0].sense}}
</h2>

<section class="container-xl py-3 px-4" id="input-section">
    <!-- Text area to input the questions -->
    <label for="question-textarea">
        <h3>Add or edit questions for category here</h3>
    </label>
    <div class="d-flex justify-content-end">
        <button class="p-2 me-5 bg-info rounded" id="save-changes-button" type="button">Save Changes</button>
        <button class="p-2 bg-info rounded" id="undo-changes-button" type="button" >Undo Changes</button>
    </div>
    <textarea id="questions-textarea" rows=12 class="w-100"></textarea>

    {# next and previous buttons #}
    <div>
        <nav class="d-flex justify-content-between py-2"> {#  category nav buttons #}
            <button class="p-2 bg-info rounded" id="previous-category-button" type="button" nextevent="previous">Previous Category</button>
            <button class="p-2 bg-info rounded" id="next-category-button" type="button" nextevent="next">Next Category</button>
        </nav>
        <nav class="d-flex justify-content-between py-3 pt-0"> {# sense nav buttons#}
            <button class="p-2 bg-info rounded" id="previous-sense-button" type="button" nextevent="previous">Previous Sense</button>
            <button class="p-2 bg-info rounded" id="next-sense-button" type="button" nextevent="next">Next Sense</button>
            </div>
        </nav>
    </div>
</section>
</div> {# end card #}

<section class="container-xl py-3 px-4" id="view-area">
    <p>view of json goes here</p>
</section>

{#===============================   END LAYOUT   ==================================#}
{#================================================================================#}


{#============================== START DATA CONTAINERS ==============================#}
{#================================================================================#}

{# Create header for category names  #}
{# Creating them together inside a <div> with an id makes them easy to extract in javascript #}
<div id="category-container" style="display:none"> 
    {% for cat in categoryquestions %}
        <h2 catindex="{{ cat.index }}"> {{ cat.category }}</h2>
    {% endfor %}
</div>

<div class="container-xl pt-5" id="questionset-container" style="display:none">
    {% for category in categoryquestions %}
        {% set catindex = category.index %}
        <div class="category-questionset" catindex="{{catindex - 1 }}">
            {% for sense in category.senses %} 
                {% set senseindex = loop.index %} 
                <section class="category-sense-questions" senseindex="{{ senseindex - 1}} ">                    
                    {% for question in sense.questions %}
                        <p> {{ question }} </p>
                    {% endfor %} {# end question loop #}
                </section>
            {% endfor %} {# end category loop #}
        </div>
    {% endfor %} {# end sense loop #}
</div> {# end container #}


{#============================== END DATA CONTAINERS ==================================#}
{#=====================================================================================#}

{#=================================  START JAVASCRIPT ===================================#}
{#======================================================================================#}
<script>
     // Functions 
    ///////////////////////////////////////////////////////////////////////////////////////

    // Generic Functions
    ////////////////////////////////////////////////////////////////////////////////////////
    // create array script copied from internet
    // usage:
    //      createArray() creates empty 1D array
    //      createArray(2) creates 1D array of length 2
    //      createArray(3, 2) creates 2D array, first dimension length 3, second dimension length 2
    //      createArray(3,3,3,3) creates a 4D array where all dimensions have length 3
    function createArray(length) {
        var arr = new Array(length || 0),
            i = length;

        if (arguments.length > 1) {
            var args = Array.prototype.slice.call(arguments, 1);
            while(i--) arr[length-1 - i] = createArray.apply(this, args);
        }

        return arr;
    }

    // function to add the same event listener to every element in an array. 
    Array.prototype.addEventListener = function(eventname, eventfunction) {
        for (i=0 ; i<this.length ; i++)
            this[i].addEventListener(eventname, eventfunction);
    };

    // create a function to console log every element in an array
    Array.prototype.consolelog = function() {
        for (i=0 ; i<this.length ; i++)
            console.log(this[i]);
    };

    // convert Nodelists and HTLMCollections (and any other array like objects to an array.
    function convertToArray(arrayLikeObject) {
        var newArray = createArray(arrayLikeObject.length)
        for (var i=0 ; i<newArray.length; i++)
            newArray[i] = arrayLikeObject[i];

        return newArray;
    }

    // Functions that manipulate html elements in some way
    /////////////////////////////////////////////////////////////////////

    // create an array of Sense names
    function createSenseArray() {
        // grab all the options from choosesense
        var options = document.querySelectorAll("#choosesense option");
        var senseArray = createArray(options.length);
        for (var i=0; i<options.length; i++)
            senseArray[i] = options[i].innerHTML.trim();

        return senseArray;
    }

    // create an array of Category. This should match categoryquestions.json:
    //      - category (category name)
    //      - index
    //      - senses (Array)
    //              sense  (sense name)
    //              questions (array of question)
    function createCategoryArray(nameArray) {

        // (local) constructor for Sense
        function Sense(senseindex,questionset){
            this.sense = nameArray[+senseindex];
            var qset = questionset.getElementsByTagName('p');
            this.questions = createArray(qset.length);
            for (var k=0; k<qset.length; k++)
                this.questions[k] = qset[k].innerHTML.trim();
        }

        // (local) constructor for Category
        function Category(name,catindex,questionSets){
            this.category = name.innerHTML;
            this.index = catindex;

            // create an array of questions grouped by sense
            var senseArray = createArray(questionSets.length);
            for (var j=0; j<questionSets.length; j++){
                qset = questionSets[j];
                senseindex = qset.getAttribute('senseindex');
                senseArray[+senseindex] = new Sense(senseindex,qset);
            }
            this.senses = senseArray;
        }

        // Grab the categoryContainer and create (DOM) arrays of headers and descriptions
        const categoryContainer = document.getElementById("category-container")
        const headers = categoryContainer.getElementsByTagName("h2");

        // Grab the questionset container and create a DOM array of category questionsets
        const categoryQuestionsets = document.querySelectorAll('#questionset-container .category-questionset');

        // create and fill an array of Category
        catArray = createArray(headers.length);
        for (i=0 ; i<headers.length ; i++) {
            senseQSets = categoryQuestionsets[i].querySelectorAll('.category-sense-questions');
            catindex = headers[i].getAttribute('catindex');
            catArray[i] = new Category(headers[i], catindex, senseQSets);
            //console.log(catArray[i]);
        }
        return catArray;
    }

    //function to set or remove the progress grid highlight:
    //  just set the color
    //      - LightGray for no highlight
    //      - Black for highlight
    // or change colours to suit
    function setProgressGridHighlight(catindex, colour){
        var item = progressGrid[+catindex].column;
        item.style.borderColor = colour;
    }

    // Create progress grid column array
    //  This is a list of the columns of the grid where each item contains
    //      a progress-column
    //      an array of progress-item
    // An array of ProgressGrid is returned
    function createProgressGrid() {

        // (local) constructor for ProgressGrid
        // column is a DOM object with class progress-column
        function ProgressGrid(column, catindex){
            this.column = column;

            items = column.querySelectorAll(".progress-item");
            itemsArray = createArray(items, length);
            for (i=0 ; i<items.length ; i++) {
                item = items[i];
                itemsArray[+item.getAttribute("senseindex")] = item;
                item.addEventListener("click", function(){ 
                    displayCategory(catindex);
                    checkEdgeCases(catindex);
                });
            }

            this.senseboxes = itemsArray
        }

        const pGrid = document.getElementById("progress-grid");
        const progressColumnList = pGrid.querySelectorAll(".progress-column");
        const progressArray = createArray(progressColumnList.length);
        for (j=0 ; j<progressArray.length ; j++){
            item = progressColumnList[j];
            catindex = item.getAttribute("catindex");
            progressArray[+catindex] = new ProgressGrid(item, catindex);
        }

        return progressArray;
    }

    function saveChanges() {
        categoryArray[currentCategoryIndex].senses[currentSenseIndex].questions = questionArea.value.split("\n");
    }

    function undoChanges() {
        questionArea.innerHTML = categoryArray[currentSenseIndex].senses[currentSenseIndex].questions.join("\n");
    }

       /////////////////////////////////   End Functions  /////////////////////////////////////////////

    // Variables
    ////////////////////////////////////////////////

    // constants for particular html elements
    const jsonView = document.getElementById('view-area');

    // Category information elements
    const categoryTitle = document.getElementById('category-name');
    const questionArea = document.getElementById('questions-textarea')

    // constants for structures of html elements
    const senseNameArray = createSenseArray();
    //senseNameArray.consolelog();
    const categoryArray = createCategoryArray(senseNameArray);
    const progressGrid = createProgressGrid();
    //categoryArray.consolelog();
    //progressGrid.consolelog();

    // Other variables
    let currentCategoryIndex = 0;
    let currentSenseIndex = 0;

    // set things up
    jsonView.innerHTML = '<pre>' + JSON.stringify(categoryArray, null, 3) + '</pre>';
    questionArea.innerHTML = categoryArray[currentCategoryIndex].senses[currentSenseIndex].questions.join('\n');
    setProgressGridHighlight(currentCategoryIndex,'Black');

    // add eventlisteners to buttons
    saveChangesButton = document.getElementById('save-changes-button');
    saveChangesButton.addEventListener('click',saveChanges);
    
    undoChangesButton = document.getElementById('undo-changes-button');
    undoChangesButton.addEventListener('click',undoChanges);

    viewJsonButton = document.getElementById('resultsbutton');
    viewJsonButton.addEventListener('click', function() {
        jsonView.innerHTML = '<pre>' + JSON.stringify(categoryArray, null, 3) + '</pre>';
    });
    
</script>
