---
layout: layouts/base.njk
templateClass: tmpl-post
eleventyNavigation:
  key: Category First
  parent: Views
  order: 2
---

{# Heading and descripion #}
<section class="mb-4 container-xl">
    <div class="d-grid gap-2 mb-2">
        <h2> Meta Categories First </h2>
    </div>
    {# Description #}
    <p class="ms-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        Ipsam molestias incidunt officia, fuga facilis a dolorem iusto, 
        accusantium consectetur exercitationem voluptatum optio 
        itaque magnam fugiat blanditiis inventore minus repellat officiis adipisci debitis, 
        ducimus repellendus beatae animi? Optio mollitia illo iste.
    </p>
</section>

<!-- first create an amended data structure -->
{% set data = [] %}
{#<pre>{{questions[0].metacategories | dump(2) | safe }}</pre>#}
{#{% for metacats in questions[0].metacategories %}
    {{metacats.name}}
    {% set data = (data.push({"name": metacats.name, "index": loop.index}), data) %}
{% endfor %} #}
{% for metacats in questions[0].metacategories %} {#(vision)#}
    {% set metaindex = loop.index - 1%}

    {% set categorydata = [] %}
    {% for cat in metacats.categories %}
        {% set catindex = loop.index -1 %}

        {% set sensedata = [] %}
        {% for sense in questions %}
            {% set sqs = questions[loop.index-1].metacategories[metaindex].categories[catindex].questions %}
            {#{{sqs|dump(2)|safe}}#}
            {% set sensedata = (sensedata.push({"sense": sense.sense, "questions": sqs}), sensedata) %}
        {% endfor %}

        {% set categorydata = (categorydata.push({"category": cat.category, "index": cat.index, "senses": sensedata}),categorydata) %}
    {% endfor %} 

    {% set data = (data.push({"name": metacats.name, "categories": categorydata}), data) %} 
{% endfor %} 

{#<pre>{{data | dump(3) | safe}}</pre>#}

{% set struct = {"top": "metacategory", "side": "category", "body": "sense"} %}
<div class="d-grid container-xl">
    {% include "questioninterface.njk" %}
</div>

    

