---
layout: layouts/base.njk
title: Results
eleventyNavigation:
  key: Results View
  parent: Views
  order: 8
---

<!-- Context menu ---------------------------------------------------------------------------- -->
{# context menu #}
<section class="container-xl card mb-2">
    <nav class="d-flex justify-content-around py-4">
        {# button to read question answers #}
        {# input type='file' is best for loading a file in #}
        <input class="p-2 bg-info rounded" id="readbutton" id="readfile" type="file" accept="application/json"/>
    </nav>
</section>

<!-- Card with results ---------------------------------------------------------------------------- -->
{# Wrap it inside a container, so it desn't stand out #}
<section class="container-xl card">
    <div class="card-body">
        <h2 class="card-title">Results</h2>

        <canvas id="myChart"></canvas>
        <canvas id="lineChart"></canvas>
        <canvas id="polarAreaChart"></canvas>
    </div>
</section>


{#=============================== END BASIC PAGE LAYOUT =================================================#}

{#=======================================================================================================#}

{#====================================== JAVASCRIPT =======================================================#}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="../../js/results.js"></script>
