---
layout: layouts/base.njk
title: Results
eleventyNavigation:
  key: Results View
  parent: Views
  order: 8
---

<!-- Context menu ---------------------------------------------------------------------------- -->
{# context menu #}
<section class="container-xl card mb-2">
    <nav class="d-flex justify-content-around py-4">
        {# button to read question answers #}
        {# input type='file' is best for loading a file in #}
        <input class="p-2 bg-info rounded" id="readbutton" id="readfile" type="file" accept="application/json"/>
    </nav>
</section>

<!-- Card with results ---------------------------------------------------------------------------- -->
{# Wrap it inside a container, so it desn't stand out #}
<section class="container-xl card">
    <div class="card-body">
        <h2 class="card-title mb-3">Results</h2>
        <div id="tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="raw-tab" data-bs-toggle="tab" data-bs-target="#raw" type="button" role="tab" aria-controls="raw" aria-selected="true">Raw data</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="senses-tab" data-bs-toggle="tab" data-bs-target="#senses" type="button" role="tab" aria-controls="senses" aria-selected="false">Senses detailed</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="categories-tab" data-bs-toggle="tab" data-bs-target="#categories" type="button" role="tab" aria-controls="categories" aria-selected="false">Categories detailed</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="raw" role="tabpanel" aria-labelledby="raw-tab">
                    <section class="row d-flex justify-content-center raw-data-charts container-xl my-5">
                        <div class="d-flex justify-content-center flex-column col-xl-8 col-lg-8 col-sm-8">
                            <canvas id="myChart"></canvas>
                            <canvas id="lineChart"></canvas>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="senses" role="tabpanel" aria-labelledby="senses-tab">
                    <section class="row d-flex justify-content-center raw-data-charts container-xl my-5">
                        <div class="d-flex justify-content-center flex-column col-xl-8 col-lg-8 col-sm-8">
                            <canvas id="polarAreaChart"></canvas>
                        </div>
                    </section>
                </div>
                <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                    <section class="row d-flex justify-content-center raw-data-charts container-xl my-5">
                        <div id="categorycharts" class="d-flex justify-content-center flex-column col-xl-8 col-lg-8 col-sm-8">
                            Another canvas
                        </div>
                    </section>
                </div>
              </div>
        </div>
    </div>
</section>


{#=============================== END BASIC PAGE LAYOUT =================================================#}

{#=======================================================================================================#}

{#====================================== JAVASCRIPT =======================================================#}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="../../js/results.js"></script>
