---
layout: layouts/base.njk
templateClass: tmpl-post
title: Senses First
eleventyNavigation:
  key: Senses First
  parent: Views
  order: 1
---
{% set struct = {"top": "sense", "side": "metacategory", "body": "category"} %}
{% set data = questions %}

{% include "questioninterface.njk" %}

